.page {
  /*  max-width: 1280px; */
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

/* по замечанию ревьюера убрала максимальную ширину 
и добавила минимальную высоту; таким образом исправилась 
ошибка "белого поля", появившаяся после переноса кода в Реакт
и убирания излишней вложенности разметки */