.popup__notice-img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0;
  object-fit: cover;
  object-position: center;
  padding: 60px 155px 32px 155px;
}

@media screen and (max-width: 620px) {
  .popup__notice-img {
      padding: 50px 80px 40px 80px;
  }
}